@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Inter", serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hanya berlaku di container WYSIWYG */
.wysiwyg-container h1,
.wysiwyg-container h2,
.wysiwyg-container h3 {
  all: unset; /* Reset styling yang konflik */
  font-size: initial; /* Sesuaikan ukuran font sesuai kebutuhan */
  font-weight: bold; /* Atur ulang gaya bawaan */
  font-family: 'Arial', sans-serif;
}

/* Pastikan hanya berlaku di React Draft WYSIWYG */
.rdw-editor-wrapper {
  font-family: 'Arial', sans-serif;
}
.rdw-editor-wrapper h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .rdw-editor-wrapper h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .rdw-editor-wrapper h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }



  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
